[submodule "repos/dashdotdb-wheels"]
	path = repos/dashdotdb-wheels
	url = https://github.com/chmeliik/dashdotdb
	branch = cachi2-on-wheels
	shallow = true
[submodule "repos/dashdotdb-sdists"]
	path = repos/dashdotdb-sdists
	url = https://github.com/chmeliik/dashdotdb
	branch = cachi2-requirements
	shallow = true
[submodule "repos/atomic-reactor-wheels"]
	path = repos/atomic-reactor-wheels
	url = https://github.com/chmeliik/atomic-reactor
	branch = cachi2-on-wheels
	shallow = true
[submodule "repos/atomic-reactor-sdists"]
	path = repos/atomic-reactor-sdists
	url = https://github.com/chmeliik/atomic-reactor
	shallow = true
[submodule "repos/cachi2-wheels"]
	path = repos/cachi2-wheels
	url = https://github.com/chmeliik/cachi2
	branch = wheelios
	shallow = true
