[submodule "repos/dashdotdb-wheels"]
	path = repos/dashdotdb-wheels
	url = https://github.com/chmeliik/dashdotdb
	branch = cachi2-on-wheels
	shallow = true
[submodule "repos/dashdotdb-sdists"]
	path = repos/dashdotdb-sdists
	url = https://github.com/chmeliik/dashdotdb
	branch = cachi2-requirements
	shallow = true
